
ul.social-buttons {
	list-style:none;
	margin:0;
	padding:0;
}
ul.social-buttons li {
	display:inline-block;
	margin-right:10px;
}
ul.social-buttons li:last-child {
	margin-right:0;
}
.social-btn {
	width:40px;
	height:40px;
	background: #E04343;
	display:inline-block;
	color:#fff;
	font-size:17px;
	line-height:40px;
	text-align:center;
}
.social-btn:hover,.social-btn:focus {
	background: rgba(255, 232, 0, 1);
	color: #E04343;
}
.social {
	margin-top: 25px
}
